$left-container-width: 35%;

.auth-wrapper {
  font-family: "Poppins", sans-serif;
  .container-left {
    @apply hidden;
  }

  .container-right {
    @apply ml-0 px-4;
    .logo-wrapper {
      @apply pt-6 pb-14;
    }
    .logo-img {
      max-width: 18rem;
    }
  }
}

@screen md {
  .auth-wrapper {
    .container-left {
      width: $left-container-width;
      @apply fixed block;
    }
    .container-right {
      margin-left: $left-container-width;
      @apply px-0;
      .logo-wrapper {
        @apply pt-20 pb-14;
      }
    }
  }
}
