@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-icon {
  @apply relative mx-2 text-gray-500 text-lg;
}

.circle1,
.circle2 {
  @apply absolute w-36 h-36 rounded-full bg-white opacity-10;
}

.circle1 {
  left: -2.2em;
  top: -2.2em;
}

.circle2 {
  top: 0;
  right: -2.2em;
  bottom: -2.2em;
}
